{% extends 'base.html.twig' %}

{% block body %}
    <h2>Events !</h2>
    {{ form(eventForm) }}
    {% for event in events %}

        <a target="_blank" href="{{ event.fields.canonicalurl }}">
            <div class="border border-amber-200 rounded-2xl mb-2 p-2"
                    {% if  event.fields.originalimage is defined %}
                        style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('{{ event.fields.originalimage }}')"
                    {% endif %}
            >
                <div>{{ event.fields.title_fr }}</div>
                <div>{{ event.fields.daterange_fr }}</div>
                <div>{{ event.fields.location_name }}</div>
                <div>{{ event.fields.location_city }}</div>
                <div>{{ event.fields.description_fr | raw }}</div>
            </div>
        </a>
    {% endfor %}

{% endblock %}

{% block title %}

{% endblock %}


