<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue ! {% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {#        {% block stylesheets %} #}

    {#        {% endblock %} #}

    {#        {% block javascripts %} #}
    {#            {% block importmap %}{{ importmap('app') }}{% endblock %} #}
    {#        {% endblock %} #}

    <link rel="icon" href="{{ asset('images/favicon.png') }}">
    {#    <link rel="stylesheet" href="{{ asset('styles/normalize.css') }}"> #}
    {#    <link rel="stylesheet" href="{{ asset('styles/app.css') }}"> #}
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div class="container">
    <header>
        <div class="flex items-center">
            <img src="{{ asset('images/logo.svg') }}" alt="Bucket-list">
            <div>Bucket-List</div>
        </div>
        {% include 'menu/nav.html.twig' %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div class="flex justify-center">&copy;Bucket-List-{{ "now" | date('Y') }}</div>
    </footer>
</div>

</body>
</html>
